<template>
  <v-footer dense elevation="15" outlined root rounded>
    <v-row justify="center" no-gutters>
      <v-btn class="my-2" to="/about" rounded text>
        {{ $t("about_01") }}
      </v-btn>
      <v-btn
        class="my-2"
        href="https://learntech.rwth-aachen.de/"
        rounded
        target="_blank"
        text
      >
        {{ $t("research_group") }}
      </v-btn>
      <v-btn
        class="my-2"
        href="https://gitlab.com/learntech-rwth/xapi/"
        rounded
        target="_blank"
        text
      >
        {{ $t("def_repo") }}
      </v-btn>
      <v-btn
        class="my-2"
        href="https://gitlab.com/learntech-rwth/xapi-frontend/"
        rounded
        target="_blank"
        text
      >
        {{ $t("frontend_repo") }}
      </v-btn>
      <v-col class="py-4 text-center" cols="12">
        {{ new Date().getFullYear() }} —
        <strong>LuFGi9 RWTH Aachen University</strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script></script>
