<template>
  <div>
    <v-app-bar
      dense
      fixed
      elevation="15"
      outlined
      root
      rounded
      elevate-on-scroll
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <NuxtLink class="no-dec" to="/">
            <v-btn class="mr-4" icon v-bind="attrs" v-on="on">
              <v-icon large>mdi-book-open</v-icon>
            </v-btn>
          </NuxtLink>
        </template>
        <span>{{ $t("tip_01") }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <NuxtLink class="no-dec" to="/definitions">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon large>mdi-folder-multiple</v-icon>
            </v-btn>
          </NuxtLink>
        </template>
        <span>{{ $t("tip_02") }}</span>
      </v-tooltip>
      <v-icon color="grey" class="mx-10" large>mdi-dots-vertical</v-icon>
      <div>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <NuxtLink class="no-dec" to="/collection">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon large>mdi-basket</v-icon>
              </v-btn>
            </NuxtLink>
          </template>
          <span>{{ $t("tip_03") }}</span>
        </v-tooltip>
        <v-icon color="grey">mdi-arrow-right-bold</v-icon>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <NuxtLink class="no-dec" to="/baskets">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon color large>mdi-cloud</v-icon>
              </v-btn>
            </NuxtLink>
          </template>
          <span>{{ $t("tip_04") }}</span>
        </v-tooltip>
      </div>
      <v-spacer></v-spacer>
      <v-toolbar-title class="text-h4 mr-12">
        <NuxtLink class="no-dec heading" to="/">
          {{ $t("title") }}
        </NuxtLink>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <NuxtLink class="no-dec" to="/about">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-information</v-icon>
            </v-btn>
          </NuxtLink>
        </template>
        <span>{{ $t("tip_06") }}</span>
      </v-tooltip>
      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon class="mr-2" v-bind="attrs" v-on="on">
            <v-icon>mdi-help-circle</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="text-h5 lighten-2">
            {{ $t("help_00") }}
          </v-card-title>
          <img class="img-center" src="../static/help-btn.png" />
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="dialog = false"> OK </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on">
            <v-checkbox
              class="mt-5 mr-3"
              large
              @click="switchLanguage()"
              color="blue"
              off-icon="mdi-earth"
              on-icon="mdi-earth"
            >
            </v-checkbox>
          </span>
        </template>
        <span>{{ $t("tip_05") }}</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <span v-bind="attrs" v-on="on">
            <v-checkbox
              class="mt-5 mr-4"
              large
              v-model="$vuetify.theme.dark"
              color="blue"
              off-icon="mdi-weather-night"
              on-icon="mdi-weather-night"
            >
            </v-checkbox>
          </span>
        </template>
        <span>{{ $t("tip_07") }}</span>
      </v-tooltip>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  // Defined variables
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    // Switch language to the other language
    switchLanguage() {
      if (this.$i18n.locale === "en") {
        this.$i18n.locale = "de";
      } else {
        this.$i18n.locale = "en";
      }
    },
  },
};
</script>
