<template>
  <div>
    <v-card class="mx-10 my-15" elevation="15" outlined>
      <div class="text-body-1 ma-6">
        <h1>{{ $t("about_01") }}</h1>
        <br />
        <p>{{ $t("about_02") }}</p>
        <p>
          {{ $t("about_03") }}
          <a href="https://learntech.rwth-aachen.de" target="_blank">
            learntech.rwth-aachen.de</a
          >
          {{ $t("about_04") }}
          <a href="mailto:heinemann@informatik.rwth-aachen.de" target="_blank">
            heinemann@informatik.rwth-aachen.de </a
          >.
        </p>
        <h2>{{ $t("about_05") }}</h2>
        <br />
        <p>{{ $t("about_06") }}</p>
        <h3>{{ $t("about_07") }}</h3>
        <br />
        <p>{{ $t("about_08") }}</p>
        <p>{{ $t("about_09") }}</p>
        <p>{{ $t("about_10") }}</p>
        <ul>
          <li>{{ $t("about_11") }}</li>
          <li>{{ $t("about_12") }}</li>
          <li>{{ $t("about_13") }}</li>
          <li>{{ $t("about_14") }}</li>
          <li>{{ $t("about_15") }}</li>
          <li>{{ $t("about_16") }}</li>
          <li>{{ $t("about_17") }}</li>
        </ul>
        <br />
        <p>{{ $t("about_18") }}</p>
        <h3>{{ $t("about_19") }}</h3>
        <br />
        <p>{{ $t("about_20") }}</p>
        <h3>{{ $t("about_21") }}</h3>
        <br />
        <p>{{ $t("about_22") }}</p>
        <h3>{{ $t("about_23") }}</h3>
        <br />
        <p>{{ $t("about_24") }}</p>
        <h3>{{ $t("about_25") }}</h3>
        <p>{{ $t("about_26") }}</p>
        <v-img style="display: inline-block" src="BMBF.png" width="287" />
        <v-img
          style="display: inline-block"
          class="mb-6"
          src="Digilab4U.png"
          width="275"
        />
      </div>
    </v-card>
  </div>
</template>

<script></script>
