<template>
  <div>
    <v-card class="mx-10 my-15" elevation="15" outlined>
      <v-list-item three-line>
        <v-list-item-content>
          <div class="text-overline">
            <h1>
              {{ $t("online_cart") }}
              <v-dialog v-model="dialogs.help" width="500">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    class="mb-1"
                    color="blue"
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon large>mdi-help-box</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title class="text-h5 lighten-2">
                    {{ $t("help_00") }}
                  </v-card-title>
                  <v-card-text>
                    {{ $t("help_06") }}
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="dialogs.help = false">
                      OK
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <div class="export-btn">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on">
                      <v-btn icon @click="exportJSON()">
                        <v-icon large>mdi-file-code</v-icon>
                      </v-btn>
                    </span>
                  </template>
                  <span>{{ $t("tip_08") }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on">
                      <v-btn icon @click="exportPDF()">
                        <v-icon large>mdi-file-table</v-icon>
                      </v-btn>
                    </span>
                  </template>
                  <span>{{ $t("tip_09") }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on">
                      <v-btn icon @click="exportCSV()">
                        <v-icon large>mdi-file-delimited</v-icon>
                      </v-btn>
                    </span>
                  </template>
                  <span>{{ $t("tip_10") }}</span>
                </v-tooltip>
              </div>
            </h1>
            <v-text-field
              v-model="search"
              :label="$t('search')"
              append-icon="mdi-magnify"
              clearable
            ></v-text-field>
          </div>
          <h2 v-if="this.basketShown">
            <NuxtLink
              :to="url.substring(url.substring(0, url.indexOf('/')).length)"
              >{{ this.url }}</NuxtLink
            >
            <v-btn icon @click="copyURL()">
              <v-icon large dark>mdi-clipboard-outline</v-icon>
            </v-btn>
          </h2>
          <template>
            <v-data-table
              :headers="header"
              :items="items"
              :hide-default-footer="true"
              :items-per-page="-1"
              :search="search"
              :multi-sort="true"
              :sort-by="['path', 'name']"
              group-by="type"
              :no-data-text="$t('nodefs')"
              :no-results-text="$t('nomatches')"
            >
              <template
                v-slot:[`group.header`]="{ group, headers, toggle, isOpen }"
              >
                <td :colspan="headers.length">
                  <v-btn @click="toggle" x-small icon :ref="group">
                    <v-icon v-if="isOpen">mdi-minus</v-icon>
                    <v-icon v-else>mdi-plus</v-icon>
                  </v-btn>
                  <span class="mx-5 font-weight-bold">{{ group }}</span>
                </td>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <NuxtLink
                  :to="
                    item.iri.substring(
                      url.substring(0, url.indexOf('/')).length,
                    )
                  "
                >
                  {{ item.name }}
                </NuxtLink>
              </template>
              <template v-slot:[`item.path`]="{ item }">
                <NuxtLink
                  :to="
                    item.iri.substring(
                      url.substring(0, url.indexOf('/')).length,
                      item.iri.lastIndexOf('/'),
                    )
                  "
                >
                  {{ item.path }}
                </NuxtLink>
              </template>
              <template v-slot:[`item.cart`]="{ item }">
                <v-btn
                  color="red"
                  dark
                  @click="deleteItem(item)"
                  :disabled="!changing"
                >
                  <v-icon dark>mdi-cloud-off-outline</v-icon>
                </v-btn>
              </template>
              <template v-slot:[`item.iri`]="{ item }">
                <NuxtLink
                  :to="
                    item.iri.substring(
                      url.substring(0, url.indexOf('/')).length,
                    )
                  "
                >
                  {{ item.iri.substring(0, 50) }} <br />
                  {{
                    item.iri.length <= 100
                      ? item.iri.substring(50, 100)
                      : item.iri.substring(50, 97) + "..."
                  }}
                </NuxtLink>
              </template>
            </v-data-table>
          </template>
        </v-list-item-content>
      </v-list-item>
      <div class="d-flex">
        <div class="dialog">
          <v-btn
            class="ma-7"
            color="green"
            @click="importItems(false)"
            :loading="loadings.importItems"
          >
            <v-icon dark>mdi-cloud-download</v-icon>
            {{ $t("get_online_cart") }}
          </v-btn>
          <v-btn
            color="blue"
            class="ma-7"
            :disabled="changing"
            @click="activateChanging()"
          >
            <v-icon dark>mdi-lock-open</v-icon>
            {{ $t("activate_change") }}
          </v-btn>
          <v-dialog v-model="dialogs.cleanBasket" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="red"
                v-bind="attrs"
                v-on="on"
                class="ma-7"
                :disabled="!changing || items.length < 1"
                :loading="loadings.cleanBasket"
              >
                <v-icon dark>mdi-cloud-off-outline</v-icon>
                {{ $t("clean_online_cart") }}
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="text-h5">
                {{ $t("warning") }}
              </v-card-title>
              <v-card-text>
                {{ $t("warning_text") }}
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="red"
                  text
                  @click="
                    dialogs.cleanBasket = false;
                    deleteAllItems();
                  "
                >
                  {{ $t("delete_yes") }}
                </v-btn>
                <v-btn color="blue" text @click="dialogs.cleanBasket = false">
                  {{ $t("delete_no") }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-text-field
            v-model="BasketID"
            :label="$t('cart_id')"
            :rules="[isAlphaNumeric]"
            :prefix="baseurl"
            prepend-inner-icon="mdi-cloud"
            class="ma-4 shrink"
            outlined
            counter
            filled
          >
          </v-text-field>
        </div>
      </div>
    </v-card>
    <v-card
      v-if="items_history.length !== 0"
      class="mx-10 my-15"
      elevation="15"
      outlined
    >
      <div class="text-overline ma-4">
        <h1>
          {{ $t("baskethistory") }}
          <div class="export-btn">
            <v-btn icon @click="deleteHistory()">
              <v-icon large dark>mdi-delete</v-icon>
            </v-btn>
          </div>
        </h1>
      </div>
      <v-data-table
        :headers="header_history"
        :items="items_history"
        class="ma-4"
        :hide-default-footer="true"
        :items-per-page="10"
        :no-data-text="$t('nodefs')"
        :no-results-text="$t('nomatches')"
      >
        <template v-slot:[`item.iri`]="{ item }">
          <NuxtLink
            :to="item.iri.substring(url.substring(0, url.indexOf('/')).length)"
          >
            {{ item.iri }}
          </NuxtLink>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
import { isAlphaNumeric } from "../assets/js/string.utils.js";
import { exportPDF, exportCSV, exportJSON } from "../utils/ExportFiles.js";

export default {
  // Defined variables
  data() {
    return {
      search: "",
      BasketID: "",
      items: [],
      items_history: [],

      loadings: {
        importItems: false,
        cleanBasket: false,
      },
      dialogs: {
        cleanBasket: false,
        help: false,
      },

      changing: false,
    };
  },
  // Call functions when application is mounted
  mounted: function () {
    this.importID();
    this.importItems(true);
    this.importHistory();
  },
  // Call functions when variables change
  watch: {
    "$i18n.locale": function (newVal) {
      this.importItems(true);
    },
  },
  // Data table headers
  computed: {
    header() {
      return [
        { text: this.$t("name"), value: "name", width: "10%" },
        { text: this.$t("defpath"), value: "path", width: "10%" },
        { text: this.$t("desc"), value: "description", width: "40%" },
        { text: this.$t("iri"), value: "iri", width: "35%" },
        { text: this.$t("basket"), value: "cart", width: "5%" },
      ];
    },
    header_history() {
      return [{ text: this.$t("iri"), value: "iri" }];
    },
    functionsAPI() {
      return process.env.FUNCTIONS_API;
    },
    basketShown() {
      return !!this.BasketID;
    },
    url() {
      return this.BasketID
        ? `${this.basketURL}${this.BasketID}`
        : process.env.REGISTRY_URL;
    },
    basketURL() {
      return process.env.BASKET_URL;
    },
    baseurl() {
      return this.basketURL;
    },
  },
  // Defined methods
  methods: {
    // Import definitions from online basket to items array
    importItems(created) {
      this.items = [];

      if (!created) {
        window.history.pushState("", "", this.url.substring(this.url.length));
      }

      if (this.BasketID.length === 0 || !this.isAlphaNumeric(this.BasketID)) {
        if (!created) {
          console.error(this.$t("cartidinvalid"));
          this.$toast.error(this.$t("cartidinvalid"), {
            icon: "alert-circle",
          });
        }
        return;
      }

      const baskets = JSON.parse(localStorage.getItem("Baskets") || "[]");
      baskets.push(this.url);
      localStorage.setItem("Baskets", JSON.stringify(baskets));

      this.importHistory();

      const lang =
        {
          en: "en-US",
        }[this.$i18n.locale] || "de-DE";
      this.loadings.importItems = true;

      this.$axios
        .get(`${this.functionsAPI}/baskets/${this.BasketID}`)
        .then(({ data }) => {
          this.items = data.map((element) => {
            const def = {
              name: element.name[lang],
              description: element.description[lang],
              iri: element.iri,
              path: element.path,
              Category: element.path,
              type: element.path.substring(
                element.path.lastIndexOf("/") + 1,
                element.path.length,
              ),
            };

            if (!def.name) {
              if (element.name["en-US"]) {
                def.name = element.name["en-US"];
              } else {
                def.name = element.name["de-DE"];
              }
            }

            if (!def.description) {
              if (element.description["en-US"]) {
                def.description = element.description["en-US"];
              } else {
                def.description = element.description["de-DE"];
              }
            }

            return def;
          });
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        })
        .finally(() => {
          this.loadings.importItems = false;
        });
    },
    // Import BasketID to BasketID variable
    importID() {
      if (this.$route.params && this.$route.params.pathMatch) {
        this.BasketID = this.$route.params.pathMatch.substring(1);
      }
    },
    // Import history of last baskets to items_history array
    importHistory() {
      this.items_history = [];
      let historyArray = [];

      if (localStorage) {
        const baskets = JSON.parse(localStorage.getItem("Baskets") || "[]");

        baskets.forEach((basket) => {
          if (!historyArray.includes(basket)) {
            this.items_history.unshift({
              iri: basket,
            });
            historyArray.unshift(basket);
          }
        });
      }
    },
    // Copy current URL to clipboard
    copyURL() {
      navigator.clipboard.writeText(this.url);
      this.$toast.success(this.$t("clipboard_success"), {
        icon: "checkbox-marked",
      });
    },
    // Delete item from online basket
    async deleteItem(item) {
      await this.$axios
        .delete(`${this.functionsAPI}/baskets/${this.BasketID}`, {
          data: { def: item.iri },
        })
        .then((_) => {
          this.importItems(true);
          this.$toast.success(this.$t("delete_success"), {
            icon: "checkbox-marked",
          });
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Delete all items from online basket
    deleteAllItems() {
      this.loadings.cleanBasket = true;
      if (!this.isAlphaNumeric(this.BasketID)) {
        console.error(this.$t("cartidinvalid"));
        this.$toast.error(this.$t("cartidinvalid"), {
          icon: "alert-circle",
        });
        return;
      }

      const iris = this.items.map((item) => item.iri);

      this.$axios
        .delete(`${this.functionsAPI}/baskets/${this.BasketID}`, {
          data: { defs: iris },
        })
        .then((_) => {
          this.importItems(true);
          this.$toast.success(this.$t("delete_success"), {
            icon: "checkbox-marked",
          });
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        })
        .finally(() => {
          this.loadings.cleanBasket = false;
        });
    },
    // Enable deleting all/one item(s)
    activateChanging() {
      this.changing = true;
    },
    // Delete basket history from localStorage
    deleteHistory() {
      localStorage && localStorage.removeItem("Baskets");
      this.items_history = [];
    },
    isAlphaNumeric,
    // Download JSON file
    async exportJSON() {
      this.$axios
        .get(window.location.href, { headers: { Accept: "application/json" } })
        .then(({ data }) => {
          exportJSON(data);
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Download PDF file
    exportPDF() {
      exportPDF(this.items, this.$i18n.locale);
    },
    // Download CSV file
    exportCSV() {
      exportCSV(this.items, this.$i18n.locale);
    },
  },
};
</script>
