<template>
  <div>
    <v-card class="mx-10 my-15" elevation="15" outlined>
      <v-list-item three-line>
        <v-list-item-content>
          <div class="text-overline">
            <h1>
              {{ $t("local_cart") }}
              <v-dialog v-model="dialogs.help" width="500">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    icon
                    class="mb-1"
                    color="blue"
                    dark
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon large>mdi-help-box</v-icon>
                  </v-btn>
                </template>
                <v-card>
                  <v-card-title class="text-h5 lighten-2">
                    {{ $t("help_00") }}
                  </v-card-title>
                  <v-card-text>
                    {{ $t("help_05") }}
                  </v-card-text>
                  <v-divider></v-divider>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="dialogs.help = false">
                      OK
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <div class="export-btn">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on">
                      <v-btn icon @click="exportJSON()">
                        <v-icon large>mdi-file-code</v-icon>
                      </v-btn>
                    </span>
                  </template>
                  <span>{{ $t("tip_08") }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on">
                      <v-btn icon @click="exportPDF()">
                        <v-icon large>mdi-file-table</v-icon>
                      </v-btn>
                    </span>
                  </template>
                  <span>{{ $t("tip_09") }}</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <span v-bind="attrs" v-on="on">
                      <v-btn icon @click="exportCSV()">
                        <v-icon large>mdi-file-delimited</v-icon>
                      </v-btn>
                    </span>
                  </template>
                  <span>{{ $t("tip_10") }}</span>
                </v-tooltip>
              </div>
            </h1>
            <v-text-field
              v-model="search"
              :label="$t('search')"
              append-icon="mdi-magnify"
              clearable
            ></v-text-field>
          </div>
          <template>
            <v-data-table
              :headers="header"
              :items="items"
              :hide-default-footer="true"
              :items-per-page="-1"
              :search="search"
              :multi-sort="true"
              :sort-by="['path', 'name']"
              group-by="type"
              :no-data-text="$t('nodefs')"
              :no-results-text="$t('nomatches')"
            >
              <template
                v-slot:[`group.header`]="{ group, headers, toggle, isOpen }"
              >
                <td :colspan="headers.length">
                  <v-btn @click="toggle" x-small icon :ref="group">
                    <v-icon v-if="isOpen">mdi-minus</v-icon>
                    <v-icon v-else>mdi-plus</v-icon>
                  </v-btn>
                  <span class="mx-5 font-weight-bold">{{ group }}</span>
                </td>
              </template>
              <template v-slot:[`item.name`]="{ item }">
                <NuxtLink :to="item.iri.substring(url.length)">
                  {{ item.name }}
                </NuxtLink>
              </template>
              <template v-slot:[`item.path`]="{ item }">
                <NuxtLink
                  :to="
                    item.iri.substring(url.length, item.iri.lastIndexOf('/'))
                  "
                >
                  {{ item.path }}
                </NuxtLink>
              </template>
              <template v-slot:[`item.cart`]="{ item }">
                <v-btn color="red" dark @click="deleteItem(item)">
                  <v-icon dark>mdi-delete</v-icon>
                </v-btn>
              </template>
              <template v-slot:[`item.iri`]="{ item }">
                <NuxtLink :to="item.iri.substring(url.length)">
                  {{ item.iri.substring(0, 50) }} <br />
                  {{
                    item.iri.length <= 100
                      ? item.iri.substring(50, 100)
                      : item.iri.substring(50, 97) + "..."
                  }}
                </NuxtLink>
              </template>
            </v-data-table>
          </template>
        </v-list-item-content>
      </v-list-item>
      <div class="d-flex">
        <div class="dialog">
          <v-btn
            class="ma-7"
            color="green"
            @click="addToBasket()"
            :loading="loadings.addToBasket"
            :disabled="!isValidBasketId || items.length === 0"
          >
            <v-icon dark>mdi-cloud-upload</v-icon>
            {{ $t("add_online_cart") }}
          </v-btn>
          <v-btn
            class="ma-7"
            color="blue"
            @click="newHash()"
            :loading="loadings.generateId"
            :disabled="BasketID !== '' || items.length < 1"
          >
            <v-icon dark>mdi-counter</v-icon>
            {{ $t("random_hash") }}
          </v-btn>
          <v-dialog v-model="dialogs.deleteCollection" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="red"
                v-bind="attrs"
                v-on="on"
                class="ma-7"
                :loading="loadings.deleteCollection"
                :disabled="items.length === 0"
              >
                <v-icon dark>mdi-delete</v-icon>
                {{ $t("clean_local_cart") }}
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="text-h5">
                {{ $t("warning") }}
              </v-card-title>
              <v-card-text>
                {{ $t("warning_text") }}
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" text @click="deleteAllItems()">
                  {{ $t("delete_yes") }}
                </v-btn>
                <v-btn
                  color="blue"
                  text
                  @click="dialogs.deleteCollection = false"
                >
                  {{ $t("delete_no") }}
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-text-field
            v-model="BasketID"
            :label="$t('cart_id')"
            :rules="[isAlphaNumeric]"
            :prefix="`${url}baskets/`"
            prepend-inner-icon="mdi-cloud"
            class="ma-4 shrink"
            outlined
            counter
            filled
          >
          </v-text-field>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
import { isAlphaNumeric } from "../assets/js/string.utils.js";
import { exportPDF, exportCSV, exportJSON } from "../utils/ExportFiles.js";

export default {
  // Defined variables
  data() {
    return {
      search: "",
      BasketID: "",
      items: [],

      dialogs: {
        deleteCollection: false,
      },
      loadings: {
        deleteCollection: false,
        addToBasket: false,
        generateId: false,
      },
    };
  },
  // Call functions when application is mounted
  mounted: function () {
    this.reloadItems();
  },
  // Call functions when variables change
  watch: {
    "$i18n.locale": function (newVal) {
      this.reloadItems();
    },
  },
  // Data table headers
  computed: {
    isValidBasketId() {
      return this.BasketID.length > 0;
    },
    header() {
      return [
        { text: this.$t("name"), value: "name", width: "10%" },
        { text: this.$t("defpath"), value: "path", width: "10%" },
        { text: this.$t("desc"), value: "description", width: "40%" },
        { text: this.$t("iri"), value: "iri", width: "35%" },
        { text: this.$t("cart"), value: "cart", width: "5%" },
      ];
    },
    definitionsURL() {
      return process.env.DEFINITIONS_URL;
    },
    functionsAPI() {
      return process.env.FUNCTIONS_API;
    },
    url() {
      return process.env.REGISTRY_URL;
    },
  },
  // Defined methods
  methods: {
    isAlphaNumeric,
    // Import definitions from local collection to items array
    reloadItems() {
      this.items = [];
      const lang =
        {
          en: "en-US",
        }[this.$i18n.locale] || "de-DE";

      const localBasket = JSON.parse(
        localStorage.getItem("LocalBasket") || "[]",
      );

      if (localBasket.length < 1) return;

      this.$axios
        .get(`${this.functionsAPI}/definitions`, {
          params: {
            defs: localBasket,
          },
        })
        .then(({ data }) => {
          console.log(data);
          if (!data || data.length < 1) return;
          data.forEach((element) => {
            const def = {
              name: element.name[lang],
              description: element.description[lang],
              iri: element.iri,
              path: element.path,
              Category: element.path,
              type: element.path.substring(
                element.path.lastIndexOf("/") + 1,
                element.path.length,
              ),
            };

            if (!def.name) {
              if (element.name["en-US"]) {
                def.name = element.name["en-US"];
              } else {
                def.name = element.name["de-DE"];
              }
            }

            if (!def.description) {
              if (element.description["en-US"]) {
                def.description = element.description["en-US"];
              } else {
                def.description = element.description["de-DE"];
              }
            }

            this.items.push(def);
          });
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Add all definitions from local collection to basket with current BasketID
    async addToBasket() {
      this.loadings.addToBasket = true;

      if (!this.isValidBasketId) {
        console.error(this.$t("cartidinvalid"));
        this.$toast.error(this.$t("cartidinvalid"), {
          icon: "alert-circle",
        });
        return;
      }

      const iris = this.items.map((item) => item.iri);

      this.$axios
        .post(`${this.functionsAPI}/baskets/`, {
          basket: this.BasketID,
          defs: iris,
        })
        .then((_) => {
          this.$router.push(`/baskets/${this.BasketID}`);
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Delete given item from local collection
    deleteItem(item) {
      if (!localStorage) return;

      const localBasket = JSON.parse(
        localStorage.getItem("LocalBasket") || "[]",
      );

      for (let i = 0; i < localBasket.length; i++) {
        if (localBasket[i] === item.iri) {
          // remove item from array
          localBasket.splice(i, 1);
          i--;
        }
      }

      localStorage.setItem("LocalBasket", JSON.stringify(localBasket));

      this.reloadItems();
      this.$toast.success(this.$t("delete_success"), {
        icon: "checkbox-marked",
      });
    },
    // Delete all items from local collection
    deleteAllItems() {
      this.loadings.deleteCollection = true;
      localStorage.removeItem("LocalBasket");
      this.loadings.deleteCollection = false;
      this.dialogs.deleteCollection = false;

      this.reloadItems();
      this.$toast.success(this.$t("delete_success"), {
        icon: "checkbox-marked",
      });
    },
    // Generate random BasketID (16 characters)
    newHash() {
      this.loadings.generateId = true;
      let result = "";
      const characters =
        "ABCDEFGHIJKLMNPQRSTUVWXYZabcdefghijklmnpqrstuvwxyz123456789";
      const charactersLength = characters.length;
      for (let i = 0; i < 16; i++) {
        result += characters.charAt(
          Math.floor(Math.random() * charactersLength),
        );
      }
      this.BasketID = result;
      this.loadings.generateId = false;
    },
    // Download JSON file
    async exportJSON() {
      this.$axios
        .get(window.location.href, { headers: { Accept: "application/json" } })
        .then(({ data }) => {
          exportJSON(data);
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Download PDF file
    exportPDF() {
      exportPDF(this.items, this.$i18n.locale);
    },
    //Download CSV file
    exportCSV() {
      exportCSV(this.items, this.$i18n.locale);
    },
  },
};
</script>
