<template>
  <div>
    <v-card
      v-if="subfolders.length !== 0"
      class="mx-10 my-15"
      elevation="15"
      outlined
    >
      <div class="ma-6">
        <div class="text-overline">
          <h1>
            {{ $t("subfolders") }}
            <v-dialog v-model="dialog" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  class="mb-1"
                  color="blue"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon large>mdi-help-box</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="text-h5 lighten-2">
                  {{ $t("help_00") }}
                </v-card-title>
                <v-card-text>
                  {{ $t("help_02") }}
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="dialog = false">
                    OK
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <div class="export-btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on">
                    <v-btn icon @click="exportJSON()">
                      <v-icon large>mdi-file-code</v-icon>
                    </v-btn>
                  </span>
                </template>
                <span>{{ $t("tip_08") }}</span>
              </v-tooltip>
            </div>
          </h1>
        </div>
        <v-breadcrumbs large :items="breadcrumbs">
          <template v-slot:divider>
            <v-icon>mdi-forward</v-icon>
          </template>
        </v-breadcrumbs>
        <template>
          <v-data-table
            :headers="header_subfolder"
            :items="subfolders"
            :hide-default-footer="true"
            :hide-default-header="true"
            :items-per-page="-1"
            sort-by="name"
            :no-data-text="$t('nodefs')"
            :no-results-text="$t('nomatches')"
          >
            <template v-slot:[`item.name`]="{ item }">
              <NuxtLink :to="generateLink(item.name)">
                {{ item.name }}
              </NuxtLink>
            </template>
          </v-data-table>
        </template>
      </div>
    </v-card>
    <v-card
      v-if="items_single.length !== 0"
      class="mx-10 my-15"
      elevation="15"
      outlined
    >
      <div class="ma-6">
        <div class="text-overline">
          <h1>
            {{ $t("def") }}
            <v-dialog v-model="dialog2" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  class="mb-1"
                  color="blue"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon large>mdi-help-box</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="text-h5 lighten-2">
                  {{ $t("help_00") }}
                </v-card-title>
                <v-card-text>
                  {{ $t("help_02") }}
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="dialog2 = false">
                    OK
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <div class="export-btn">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on">
                    <v-btn icon @click="exportJSON()">
                      <v-icon large>mdi-file-code</v-icon>
                    </v-btn>
                  </span>
                </template>
                <span>{{ $t("tip_08") }}</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on">
                    <v-btn icon @click="exportPDF()">
                      <v-icon large>mdi-file-table</v-icon>
                    </v-btn>
                  </span>
                </template>
                <span>{{ $t("tip_09") }}</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <span v-bind="attrs" v-on="on">
                    <v-btn icon @click="exportCSV()">
                      <v-icon large>mdi-file-delimited</v-icon>
                    </v-btn>
                  </span>
                </template>
                <span>{{ $t("tip_10") }}</span>
              </v-tooltip>
            </div>
          </h1>
        </div>
        <v-breadcrumbs large :items="breadcrumbs">
          <template v-slot:divider>
            <v-icon>mdi-forward</v-icon>
          </template>
        </v-breadcrumbs>
        <v-text-field
          v-model="search_def"
          :label="$t('search')"
          append-icon="mdi-magnify"
          clearable
        ></v-text-field>
        <template>
          <v-data-table
            :headers="header_single"
            :items="items_single"
            :hide-default-footer="true"
            :items-per-page="-1"
            :search="search_def"
            :multi-sort="true"
            :sort-by="['path', 'name']"
            :no-data-text="$t('nodefs')"
            :no-results-text="$t('nomatches')"
          >
            <template v-slot:[`item.name`]="{ item }">
              <a :href="item.iri">
                {{ item.name }}
              </a>
            </template>
            <template v-slot:[`item.path`]="{ item }">
              <a :href="url + 'definitions/' + item.path">
                {{ item.path }}
              </a>
            </template>
            <template v-slot:[`item.cart`]="{ item }">
              <v-btn color="blue" dark @click="addItem(item)">
                <v-icon dark>mdi-basket</v-icon>
              </v-btn>
            </template>
            <template v-slot:[`item.iri`]="{ item }">
              <a :href="item.iri">
                {{ item.iri.substring(0, 50) }} <br />
                {{
                  item.iri.length <= 100
                    ? item.iri.substring(50, 100)
                    : item.iri.substring(50, 97) + "..."
                }}
              </a>
            </template>
          </v-data-table>
        </template>
      </div>
    </v-card>
    <v-card
      v-if="!this.hideVersion"
      class="mx-10 my-15"
      elevation="15"
      outlined
    >
      <div class="ma-6">
        <h2>{{ $t("history") }}: {{ this.currentHash }}</h2>
        <template>
          <v-data-table
            :headers="header_single_history"
            :items="items_single_history"
            :hide-default-footer="true"
            :items-per-page="-1"
            :no-data-text="$t('nodefs')"
            :no-results-text="$t('nomatches')"
          >
          </v-data-table>
        </template>
      </div>
    </v-card>
    <v-card
      v-if="items_history.length !== 0"
      class="mx-10 my-15"
      elevation="15"
      outlined
    >
      <div class="ma-6">
        <div class="text-overline">
          <h1>{{ $t("history") }}</h1>
        </div>
        <template>
          <v-data-table
            :headers="header_history"
            :items="items_history"
            :hide-default-footer="true"
            :items-per-page="-1"
            :multi-sort="true"
            :sort-by="['date', 'message']"
            :sort-desc="[true, false]"
            :no-data-text="$t('nodefs')"
            :no-results-text="$t('nomatches')"
          >
            <template v-slot:[`item.content`]="{ item }">
              <v-btn
                light
                color="rgb(192, 192, 192)"
                @click="showVersion(item)"
              >
                <v-icon>mdi-file-eye</v-icon>
              </v-btn>
            </template>
            <template v-slot:[`item.hash`]="{ item }">
              <a
                :href="`https://gitlab.com/learntech-rwth/xapi/-/commit/${item.hash}`"
                target="_blank"
              >
                {{ item.hash }}
              </a>
            </template>
            <template v-slot:[`item.email`]="{ item }">
              <a :href="`mailto:${item.email}`" target="_blank">
                {{ item.email }}
              </a>
            </template>
          </v-data-table>
        </template>
      </div>
    </v-card>
    <v-btn
      v-if="!this.suggestion"
      class="mx-14 mb-10"
      color="blue"
      @click="enableSuggestion()"
    >
      <v-icon dark>mdi-plus-box</v-icon>
      {{ $t("suggest") }}
    </v-btn>
    <v-card v-if="this.suggestion" class="mx-10 my-15" elevation="15" outlined>
      <div class="ma-6">
        <h2>
          {{ $t("suggest") }}
          <v-dialog v-model="dialog3" width="500">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                class="mb-1"
                color="blue"
                dark
                v-bind="attrs"
                v-on="on"
              >
                <v-icon large>mdi-help-box</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="text-h5 lighten-2">
                {{ $t("help_00") }}
              </v-card-title>
              <v-card-text>
                {{ $t("help_04") }}
              </v-card-text>
              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" text @click="dialog3 = false">
                  OK
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </h2>
        <div v-if="$route.params.pathMatch">
          <h4>{{ $t("path") }}: {{ $route.params.pathMatch.substring(1) }}</h4>
        </div>
        <div v-else>
          <h4>{{ $t("path") }}: definitions/</h4>
          <v-text-field
            v-model="custom_path"
            :label="$t('path')"
            class="ma-4"
            clearable
            outlined
          >
          </v-text-field>
        </div>
        <br />
        <p>{{ $t("sug_properties") }}</p>
        <v-text-field
          v-model="sug_name_en"
          :label="$t('sug_name_en')"
          class="ma-4"
          clearable
          outlined
        >
        </v-text-field>
        <v-text-field
          v-model="sug_description_en"
          :label="$t('sug_description_en')"
          class="ma-4"
          clearable
          outlined
        >
        </v-text-field>
        <v-text-field
          v-model="sug_name_de"
          :label="$t('sug_name_de')"
          class="mx-4 mt-12 mb-4"
          clearable
          outlined
        >
        </v-text-field>
        <v-text-field
          v-model="sug_description_de"
          :label="$t('sug_description_de')"
          class="ma-4"
          clearable
          outlined
        >
        </v-text-field>
        <p>
          {{ $t("personal") }}
          <a
            href="https://gitlab.com/-/profile/personal_access_tokens"
            target="_blank"
            >GitLab token</a
          >:
        </p>
        <v-text-field
          v-model="git_token"
          :label="$t('git_token')"
          class="ma-4"
          clearable
          outlined
        >
        </v-text-field>

        <v-btn
          class="ma-4"
          color="blue"
          @click="
            submitSuggestion();
            loader = 'loading';
          "
          :loading="loading"
        >
          <v-icon dark width="300">mdi-gitlab</v-icon>
          {{ $t("sug_submit") }}
        </v-btn>
        {{ $t("sug_info") }}
      </div>
    </v-card>
  </div>
</template>

<script>
import { exportPDF, exportCSV, exportJSON } from "../utils/ExportFiles.js";

export default {
  // Defined variables
  data() {
    return {
      search_def: "",
      subfolders: [],
      items_single: [],
      items_history: [],
      items_single_history: [],
      git_token: "",
      sug_name_en: "",
      sug_description_en: "",
      sug_name_de: "",
      sug_description_de: "",
      breadcrumbs: [],
      currentHash: "",
      suggestion: false,
      hideVersion: true,
      loader: null,
      loading: false,
      dialog: false,
      dialog2: false,
      dialog3: false,
      custom_path: "",
    };
  },
  // Call functions when application is created
  created: function () {
    this.importSubfolders();
    this.importDefinitionSingle();
    this.importHistory();
    this.importBreadcrumbs();
  },
  // Call functions when application will be destroyed
  beforeDestroy: function () {
    this.$recaptcha.destroy();
  },
  // Call functions when variables change
  watch: {
    "$i18n.locale": function (newVal) {
      this.importSubfolders();
      this.importDefinitionSingle();
      this.importHistory();
    },
    loader() {
      const l = this.loader;
      this[l] = !this[l];
      setTimeout(() => (this[l] = false), 3000);
      this.loader = null;
    },
  },
  // Data table headers
  computed: {
    header_single() {
      return [
        { text: this.$t("name"), value: "name", width: "10%" },
        { text: this.$t("defpath"), value: "path", width: "10%" },
        { text: this.$t("desc"), value: "description", width: "40%" },
        { text: this.$t("iri"), value: "iri", width: "35%" },
        { text: this.$t("cart"), value: "cart", width: "5%" },
      ];
    },
    header_history() {
      return [
        { text: this.$t("content"), value: "content" },
        { text: this.$t("hash"), value: "hash" },
        { text: this.$t("date"), value: "date" },
        { text: this.$t("message"), value: "message" },
        { text: this.$t("author"), value: "auth" },
        { text: this.$t("email"), value: "email" },
      ];
    },
    header_single_history() {
      return [
        { text: this.$t("name"), value: "name", width: "20%" },
        { text: this.$t("desc"), value: "description", width: "80%" },
      ];
    },
    header_subfolder() {
      return [{ text: this.$t("name"), value: "name" }];
    },
    functionsAPI() {
      return process.env.FUNCTIONS_API;
    },
    url() {
      return process.env.REGISTRY_URL;
    },
    gitlab() {
      return process.env.GITLAB_PROJECT_URL;
    },
    gitToken() {
      return process.env.GITLAB_TOKEN;
    },
  },
  // Defined methods
  methods: {
    // Import subfolders to subfolders array
    importSubfolders() {
      let root = false;
      let path;
      if (this.$route.params.pathMatch) {
        path = this.$route.params.pathMatch;
      } else {
        root = true;
      }

      this.$axios
        .get(`${this.functionsAPI}/definitions/folders`)
        .then((response) => {
          if (root) {
            this.subfolders = response.data[0][""].map((element) => {
              return {
                name: element,
              };
            });
          } else {
            if (response.data[0][path.substring(1)]) {
              this.subfolders = response.data[0][path.substring(1)].map(
                (element) => {
                  return {
                    name: element,
                  };
                },
              );
            }
          }
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Import single definition to items_single array
    importDefinitionSingle() {
      const path = this.$route.params.pathMatch;
      if (!path) {
        return;
      }

      const lang =
        {
          en: "en-US",
        }[this.$i18n.locale] || "de-DE";

      this.$axios
        .get(`${this.functionsAPI}/definitions`, {
          params: {
            def: path,
          },
        })
        .then(({ data }) => {
          if (!data || data.length < 1) return;

          this.items_single = data.map((element) => {
            const def = {
              name: element.name[lang],
              description: element.description[lang],
              iri: element.iri,
              path: element.path,
              Category: element.path,
            };

            if (!def.name) {
              if (element.name["en-US"]) {
                def.name = element.name["en-US"];
              } else {
                def.name = element.name["de-DE"];
              }
            }

            if (!def.description) {
              if (element.description["en-US"]) {
                def.description = element.description["en-US"];
              } else {
                def.description = element.description["de-DE"];
              }
            }

            return def;
          });
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Import history of a definition to items_history variable
    importHistory() {
      if (!this.$route.params.pathMatch) {
        return;
      }

      this.$axios
        .get(
          `${this.gitlab}/repository/commits?path=definitions${this.$route.params.pathMatch}.json`,
        )
        .then((response) => {
          this.items_history = response.data.map((element) => {
            return {
              hash: element.short_id,
              date: `${element.committed_date.substring(
                0,
                10,
              )} ${element.committed_date.substring(11, 16)}`,
              message: element.message,
              auth: element.committer_name,
              email: element.committer_email,
            };
          });
        })
        .catch((error) => {
          console.error("GitLab API", error);
        });
    },
    // Import and convert subfolders to breadcrumbs variable
    importBreadcrumbs() {
      this.breadcrumbs = [];
      let route;
      let routeComponent;
      if (this.$route.params && this.$route.params.pathMatch) {
        route = `definitions/${this.$route.params.pathMatch.substring(1)}`;
      } else {
        route = "definitions";
      }
      while (route !== "") {
        routeComponent = route.substring(
          route.lastIndexOf("/") + 1,
          route.length,
        );
        this.breadcrumbs.unshift({
          link: true,
          exact: true,
          nuxt: true,
          disabled: false,
          text: routeComponent,
          to: `/${route}`,
        });
        route = route.substring(0, route.lastIndexOf("/"));
      }
    },
    // Import former description to items_single_history variable
    showVersion(item) {
      let path = this.$route.params.pathMatch.replace(/\//g, "%2F");

      this.$axios
        .get(
          `${this.gitlab}/repository/files/definitions${path}.json?ref=${item.hash}`,
        )
        .then((response) => {
          this.items_single_history = [
            {
              name: JSON.parse(
                decodeURIComponent(escape(window.atob(response.data.content))),
              ).name["en-US"],
              description: JSON.parse(
                decodeURIComponent(escape(window.atob(response.data.content))),
              ).description["en-US"],
            },
            {
              name: JSON.parse(
                decodeURIComponent(escape(window.atob(response.data.content))),
              ).name["de-DE"],
              description: JSON.parse(
                decodeURIComponent(escape(window.atob(response.data.content))),
              ).description["de-DE"],
            },
          ];
          this.currentHash = item.hash;
          this.hideVersion = false;
        })
        .catch((error) => {
          this.$toast.error(this.$t("gitlab_404"), {
            icon: "alert-circle",
          });
          console.error("GitLab API", error);
        });
    },
    // Show suggestion v-card
    enableSuggestion() {
      this.$recaptcha.init();
      this.suggestion = true;
    },
    // Submit suggestion to GitLab repository
    async submitSuggestion() {
      if (this.sug_name_en === "" || this.sug_description_en === "") {
        console.error(this.$t("submitinvalid"));
        this.$toast.error(this.$t("submitinvalid"), {
          icon: "alert-circle",
        });
        return;
      }

      try {
        const token = await this.$recaptcha.execute("login");
        console.log("ReCaptcha token:", token);
      } catch (error) {
        console.error("Login error:", error);
        return;
      }

      if (this.git_token === "") {
        this.git_token = this.gitToken;
      }

      let path = this.$route.params.pathMatch;
      if (!this.$route.params.pathMatch) {
        path = `/${this.custom_path}`;
      }

      const json_file = {
        name: {
          "en-US": this.sug_name_en,
          "de-DE": this.sug_name_de,
        },
        description: {
          "en-US": this.sug_description_en,
          "de-DE": this.sug_description_de,
        },
      };
      let issue;
      let url;

      //Create issue
      //https://docs.gitlab.com/ee/api/issues.html#new-issue
      await this.$axios
        .post(`${this.gitlab}/issues`, {
          private_token: this.git_token,
          title: `Frontend suggestion: ${this.sug_name_en}`,
          description: "Suggestion of a new definition via the xAPI frontend.",
        })
        .then((response) => {
          issue = response.data.iid;
          url = response.data.web_url;
        })
        .catch((error) => {
          console.error("GitLab API", error);
        });

      //Create branch
      //https://docs.gitlab.com/ee/api/branches.html#create-repository-branch
      await this.$axios
        .post(`${this.gitlab}/repository/branches`, {
          private_token: this.git_token,
          branch: `suggestion-${this.sug_name_en}`,
          ref: "master",
        })
        .then((response) => {})
        .catch((error) => {
          console.error("GitLab API", error);
        });

      //Create merge request
      //https://docs.gitlab.com/ee/api/merge_requests.html#create-mr
      await this.$axios
        .post(`${this.gitlab}/merge_requests`, {
          private_token: this.git_token,
          title: `Frontend suggestion: ${this.sug_name_en}`,
          source_branch: `suggestion-${this.sug_name_en}`,
          target_branch: "master",
          remove_source_branch: true,
          description: `Related to #${issue}`,
        })
        .then((response) => {})
        .catch((error) => {
          console.error("GitLab API", error);
        });

      //Commit definition
      //https://docs.gitlab.com/ee/api/commits.html#create-a-commit-with-multiple-files-and-actions
      await this.$axios
        .post(`${this.gitlab}/repository/commits`, {
          private_token: this.git_token,
          branch: `suggestion-${this.sug_name_en}`,
          commit_message: "JSON file added by frontend",
          actions: [
            {
              action: "create",
              file_path: `definitions${path}/${this.sug_name_en}.json`,
              content: JSON.stringify(json_file, null, 2),
            },
          ],
        })
        .then((response) => {})
        .catch((error) => {
          console.error("GitLab API", error);
        });

      this.$toast.success(this.$t("sugg_success"), {
        icon: "checkbox-marked",
      });

      window.open(url, "_blank");
    },
    // Add item to local collection
    addItem(item) {
      if (!localStorage) return;

      const localBasket = JSON.parse(
        localStorage.getItem("LocalBasket") || "[]",
      );

      localBasket.push(item.iri);

      localStorage.setItem("LocalBasket", JSON.stringify(localBasket));

      this.$toast.success(this.$t("cart_success"), {
        icon: "checkbox-marked",
      });
    },
    // Generate link for given definition
    generateLink(item) {
      if (this.$route.params && this.$route.params.pathMatch) {
        return `/definitions${this.$route.params.pathMatch}/${item}`;
      } else {
        return `/definitions/${item}`;
      }
    },
    // Download JSON file
    async exportJSON() {
      this.$axios
        .get(window.location.href, { headers: { Accept: "application/json" } })
        .then(({ data }) => {
          exportJSON(data);
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Download PDF file
    exportPDF() {
      exportPDF(this.items_single, this.$i18n.locale);
    },
    // Download CSV file
    exportCSV() {
      exportCSV(this.items_single, this.$i18n.locale);
    },
  },
};
</script>
