<template>
  <div>
    <template>
      <v-card class="mx-10 my-15" elevation="15" outlined>
        <v-list-item three-line>
          <v-list-item-content>
            <div class="text-overline ml-1">
              <h1>
                {{ $t("list_def") }}
                <v-dialog v-model="dialog" width="500">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      icon
                      class="mb-1"
                      color="blue"
                      dark
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon large>mdi-help-box</v-icon>
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title class="text-h5 lighten-2">
                      {{ $t("help_00") }}
                    </v-card-title>
                    <v-card-text>
                      {{ $t("help_01") }}
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" text @click="dialog = false">
                        OK
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <div class="export-btn">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <span v-bind="attrs" v-on="on">
                        <v-btn icon @click="exportJSON()">
                          <v-icon large>mdi-file-code</v-icon>
                        </v-btn>
                      </span>
                    </template>
                    <span>{{ $t("tip_08") }}</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <span v-bind="attrs" v-on="on">
                        <v-btn icon @click="exportPDF()">
                          <v-icon large>mdi-file-table</v-icon>
                        </v-btn>
                      </span>
                    </template>
                    <span>{{ $t("tip_09") }}</span>
                  </v-tooltip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <span v-bind="attrs" v-on="on">
                        <v-btn icon @click="exportCSV()">
                          <v-icon large>mdi-file-delimited</v-icon>
                        </v-btn>
                      </span>
                    </template>
                    <span>{{ $t("tip_10") }}</span>
                  </v-tooltip>
                </div>
              </h1>
            </div>
            <div>
              <template>
                <v-btn
                  class="ml-1 mr-2 mb-4"
                  color="green"
                  dark
                  @click="
                    selectCategories();
                    loader = 'loading';
                  "
                  :loading="loading"
                >
                  <v-icon dark>mdi-checkbox-outline</v-icon>
                  {{ $t("select") }}
                </v-btn>
                <v-btn
                  class="ml-1 mr-2 mb-4"
                  color="red"
                  dark
                  @click="
                    unselectCategories();
                    loader = 'loading2';
                  "
                  :loading="loading2"
                >
                  <v-icon dark>mdi-minus-box-outline</v-icon>
                  {{ $t("unselect") }}
                </v-btn>
                <v-layout row wrap>
                  <v-checkbox
                    v-for="category in categories"
                    v-bind:key="category.cat"
                    v-model="category.sel"
                    :label="category.cat"
                    class="ml-4"
                    @change="applyFilter()"
                  ></v-checkbox>
                </v-layout>
              </template>
              <v-text-field
                v-model="search"
                :label="$t('search')"
                append-icon="mdi-magnify"
                clearable
              ></v-text-field>
            </div>
            <template>
              <v-data-table
                :loading="isLoading"
                :headers="header"
                :items="items"
                :hide-default-footer="true"
                :items-per-page="-1"
                :search="search"
                :show-group-by="false"
                :multi-sort="true"
                :sort-by="['path', 'name']"
                :group-by="['Category']"
                :no-data-text="$t('nodefs')"
                :no-results-text="$t('nomatches')"
              >
                <template
                  v-slot:[`group.header`]="{ group, headers, toggle, isOpen }"
                >
                  <td :colspan="headers.length">
                    <v-btn @click="toggle" x-small icon :ref="group">
                      <v-icon v-if="isOpen">mdi-minus</v-icon>
                      <v-icon v-else>mdi-plus</v-icon>
                    </v-btn>
                    <span class="ma-6 font-weight-bold">{{ group }}</span>
                    <v-btn
                      class="export-btn"
                      color="purple"
                      dark
                      @click="addItems(group)"
                    >
                      <v-icon dark>mdi-basket-fill</v-icon>
                    </v-btn>
                  </td>
                </template>
                <template v-slot:[`item.name`]="{ item }">
                  <NuxtLink :to="item.iri.substring(url.length)">
                    {{ item.name }}
                  </NuxtLink>
                </template>
                <template v-slot:[`item.path`]="{ item }">
                  <NuxtLink
                    :to="
                      item.iri.substring(url.length, item.iri.lastIndexOf('/'))
                    "
                  >
                    {{ item.path }}
                  </NuxtLink>
                </template>
                <template v-slot:[`item.cart`]="{ item }">
                  <v-btn color="primary" dark @click="addItem(item)">
                    <v-icon dark>mdi-basket</v-icon>
                  </v-btn>
                </template>
                <template v-slot:[`item.iri`]="{ item }">
                  <NuxtLink :to="item.iri.substring(url.length)">
                    {{ item.iri.substring(0, 50) }} <br />
                    {{
                      item.iri.length <= 100
                        ? item.iri.substring(50, 100)
                        : item.iri.substring(50, 97) + "..."
                    }}
                  </NuxtLink>
                </template>
              </v-data-table>
            </template>
          </v-list-item-content>
        </v-list-item>
      </v-card>
      <v-btn
        v-if="!this.suggestion"
        class="mx-14 mb-10"
        color="blue"
        @click="enableSuggestion()"
      >
        <v-icon dark>mdi-plus-box</v-icon>
        {{ $t("suggest") }}
      </v-btn>
      <v-card
        v-if="this.suggestion"
        class="mx-10 my-15"
        elevation="15"
        outlined
      >
        <div class="ma-6">
          <h2>
            {{ $t("suggest") }}
            <v-dialog v-model="dialog3" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  class="export-btn mb-1"
                  color="blue"
                  dark
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon large>mdi-help-box</v-icon>
                </v-btn>
              </template>
              <v-card>
                <v-card-title class="text-h5 lighten-2">
                  {{ $t("help_00") }}
                </v-card-title>
                <v-card-text>
                  {{ $t("help_04") }}
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" text @click="dialog3 = false">
                    OK
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </h2>
          <h4>{{ $t("path") }}: definitions/</h4>
          <v-text-field
            v-model="custom_path"
            :label="$t('path')"
            class="ma-4"
            clearable
            outlined
          >
          </v-text-field>
          <br />
          <p>{{ $t("sug_properties") }}</p>
          <v-text-field
            v-model="sug_name_en"
            :label="$t('sug_name_en')"
            class="ma-4"
            clearable
            outlined
          >
          </v-text-field>
          <v-text-field
            v-model="sug_description_en"
            :label="$t('sug_description_en')"
            class="ma-4"
            clearable
            outlined
          >
          </v-text-field>
          <v-text-field
            v-model="sug_name_de"
            :label="$t('sug_name_de')"
            class="mx-4 mt-12 mb-4"
            clearable
            outlined
          >
          </v-text-field>
          <v-text-field
            v-model="sug_description_de"
            :label="$t('sug_description_de')"
            class="ma-4"
            clearable
            outlined
          >
          </v-text-field>
          <p>
            {{ $t("personal") }}
            <a
              href="https://gitlab.com/-/profile/personal_access_tokens"
              target="_blank"
              >GitLab token</a
            >:
          </p>
          <v-text-field
            v-model="git_token"
            :label="$t('git_token')"
            class="ma-4"
            clearable
            outlined
          >
          </v-text-field>

          <v-btn
            class="ma-4"
            color="blue"
            @click="
              submitSuggestion();
              loader = 'loading';
            "
            :loading="loading"
          >
            <v-icon dark width="300">mdi-gitlab</v-icon>
            {{ $t("sug_submit") }}
          </v-btn>
          {{ $t("sug_info") }}
        </div>
      </v-card>
    </template>
  </div>
</template>

<script>
import { exportPDF, exportCSV, exportJSON } from "../utils/ExportFiles.js";

export default {
  // Defined variables
  data() {
    return {
      search: "",
      items: [],
      categories: [],
      loader: null,
      loading: false,
      loading2: false,
      dialog: false,
      dialog3: false,
      suggestion: false,
      custom_path: "",
      git_token: "",
      sug_name_en: "",
      sug_description_en: "",
      sug_name_de: "",
      sug_description_de: "",
      isLoading: true,
    };
  },
  // Call functions when application is created
  created: function () {
    this.importItems(true);
  },
  // Call functions when application will be destroyed
  beforeDestroy: function () {
    this.$recaptcha.destroy();
  },
  // Call functions when variables change
  watch: {
    "$i18n.locale": function (newVal) {
      this.applyFilter();
    },
    loader() {
      const l = this.loader;
      this[l] = !this[l];
      setTimeout(() => (this[l] = false), 500);
      this.loader = null;
    },
  },
  // Data table headers
  computed: {
    header() {
      return [
        { text: this.$t("name"), value: "name", width: "10%" },
        { text: this.$t("defpath"), value: "path", width: "10%" },
        { text: this.$t("desc"), value: "description", width: "40%" },
        { text: this.$t("iri"), value: "iri", width: "35%" },
        { text: this.$t("cart"), value: "cart", width: "5%" },
      ];
    },
    url() {
      return process.env.REGISTRY_URL;
    },
    definitionsAPI() {
      return process.env.DEFINITIONS_API;
    },
    gitlab() {
      return process.env.GITLAB_PROJECT_URL;
    },
    gitToken() {
      return process.env.GITLAB_TOKEN;
    },
  },
  // Defined methods
  methods: {
    // Import definitions to items array
    async importItems(importCategories) {
      const lang =
        {
          en: "en-US",
        }[this.$i18n.locale] || "de-DE";

      this.isLoading = true;
      const response = await this.$axios.get(this.definitionsAPI);

      this.items = response.data.map((element) => {
        const def = {
          name: element.name[lang],
          description: element.description[lang],
          iri: element.iri,
          path: element.path,
          Category: element.path.substring(0, element.path.indexOf("/")),
        };

        if (!def.name) {
          if (element.name["en-US"]) {
            def.name = element.name["en-US"];
          } else {
            def.name = element.name["de-DE"];
          }
        }

        if (!def.description) {
          if (element.description["en-US"]) {
            def.description = element.description["en-US"];
          } else {
            def.description = element.description["de-DE"];
          }
        }

        return def;
      });

      if (importCategories) {
        const catArray = [];
        this.items.forEach((element) => {
          if (!catArray.includes(element.Category)) {
            catArray.push(element.Category);
            this.categories.push({
              cat: element.Category,
              sel: true,
            });
          }
        });
      }
      this.isLoading = false;
    },
    // Apply filter to definitions
    async applyFilter() {
      await this.importItems(false);
      this.categories.forEach((element) => {
        if (!element.sel) {
          this.deleteCategory(element.cat);
        }
      });
      this.$toast.success(this.$t("changes_success"), {
        icon: "checkbox-marked",
      });
    },
    // Remove every item of given category from items array
    deleteCategory(category) {
      for (let i = 0; i < this.items.length && this.items[i]; i++) {
        if (this.items[i].Category === category) {
          this.items.splice(i, 1);
          i--;
        }
      }
    },
    // Show suggestion v-card
    enableSuggestion() {
      this.$recaptcha.init();
      this.suggestion = true;
    },
    // Submit suggestion to GitLab repository
    async submitSuggestion() {
      if (this.sug_name_en === "" || this.sug_description_en === "") {
        console.error(this.$t("submitinvalid"));
        this.$toast.error(this.$t("submitinvalid"), {
          icon: "alert-circle",
        });
        return;
      }

      try {
        const token = await this.$recaptcha.execute("login");
        console.log("ReCaptcha token:", token);
      } catch (error) {
        console.error("Login error:", error);
        return;
      }

      if (this.git_token === "") {
        this.git_token = this.gitToken;
      }

      const path = this.$route.params.pathMatch || `/${this.custom_path}`;

      const json_file = {
        name: {
          "en-US": this.sug_name_en,
          "de-DE": this.sug_name_de,
        },
        description: {
          "en-US": this.sug_description_en,
          "de-DE": this.sug_description_de,
        },
      };
      let issue;
      let url;

      //Create issue
      //https://docs.gitlab.com/ee/api/issues.html#new-issue
      await this.$axios
        .post(`${this.gitlab}/issues`, {
          private_token: this.git_token,
          title: `Frontend suggestion: ${this.sug_name_en}`,
          description: "Suggestion of a new definition via the xAPI frontend.",
        })
        .then((response) => {
          issue = response.data.iid;
          url = response.data.web_url;
        })
        .catch((error) => {
          console.error("GitLab API", error);
        });

      //Create branch
      //https://docs.gitlab.com/ee/api/branches.html#create-repository-branch
      await this.$axios
        .post(`${this.gitlab}/repository/branches`, {
          private_token: this.git_token,
          branch: `suggestion-${this.sug_name_en}`,
          ref: "master",
        })
        .then((response) => {})
        .catch((error) => {
          console.error("GitLab API", error);
        });

      //Create merge request
      //https://docs.gitlab.com/ee/api/merge_requests.html#create-mr
      await this.$axios
        .post(`${this.gitlab}/merge_requests`, {
          private_token: this.git_token,
          title: `Frontend suggestion: ${this.sug_name_en}`,
          source_branch: `suggestion-${this.sug_name_en}`,
          target_branch: "master",
          remove_source_branch: true,
          description: `Related to #${issue}`,
        })
        .then((response) => {})
        .catch((error) => {
          console.error("GitLab API", error);
        });

      //Commit definition
      //https://docs.gitlab.com/ee/api/commits.html#create-a-commit-with-multiple-files-and-actions
      await this.$axios
        .post(`${this.gitlab}/repository/commits`, {
          private_token: this.git_token,
          branch: `suggestion-${this.sug_name_en}`,
          commit_message: "JSON file added by frontend",
          actions: [
            {
              action: "create",
              file_path: `definitions${path}/${this.sug_name_en}.json`,
              content: JSON.stringify(json_file, null, 2),
            },
          ],
        })
        .then((response) => {})
        .catch((error) => {
          console.error("GitLab API", error);
        });

      this.$toast.success(this.$t("sugg_success"), {
        icon: "checkbox-marked",
      });

      window.open(url, "_blank");
    },
    // Select all categories for filtering
    selectCategories() {
      this.categories.forEach((element) => {
        element.sel = true;
      });
      this.applyFilter();
    },
    // Unselect all categories for filtering
    unselectCategories() {
      this.categories.forEach((element) => {
        element.sel = false;
      });
      this.applyFilter();
    },
    // Add single item to local collection
    addItem(item) {
      if (!localStorage) return;

      const localBasket = JSON.parse(
        localStorage.getItem("LocalBasket") || "[]",
      );
      localBasket.push(item.iri);
      localStorage.setItem("LocalBasket", JSON.stringify(localBasket));

      this.$toast.success(this.$t("cart_success"), {
        icon: "checkbox-marked",
      });
    },
    // Add multiple items from one group to local collection
    addItems(group) {
      if (!localStorage) return;

      const localBasket = JSON.parse(
        localStorage.getItem("LocalBasket") || "[]",
      );

      this.items.forEach((element) => {
        if (element.Category === group) {
          localBasket.push(element.iri);
          localStorage.setItem("LocalBasket", JSON.stringify(localBasket));
        }
      });

      this.$toast.success(this.$t("cart_success"), {
        icon: "checkbox-marked",
      });
    },
    // Download JSON file
    async exportJSON() {
      this.$axios
        .get(window.location.href, { headers: { Accept: "application/json" } })
        .then(({ data }) => {
          exportJSON(data);
        })
        .catch((error) => {
          console.error("functionsAPI", error);
        });
    },
    // Download PDF file
    exportPDF() {
      exportPDF(this.items, this.$i18n.locale);
    },
    // Download CSV file
    exportCSV() {
      exportCSV(this.items, this.$i18n.locale);
    },
  },
};
</script>
