a {
  color: inherit !important;
}

.heading {
  color: inherit !important;
}

.no-dec {
  text-decoration: none;
}

.export-btn {
  float: right;
}

.dialog {
  margin: 0 auto;
}

.v-text-field__prefix {
  margin-top: 0% !important;
}

input {
  margin-top: 0% !important;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
